*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.test-page1 h2{
    margin-top: 30px;
    text-align: center;
}

.test-page form{
    display: flex;
    flex-wrap: wrap;
    padding-left: 5%;
    margin-top: 50px;
    gap: 25px;

}

.question-block{
    width: 230px;
    padding-left: 20px;
    padding-right: 20px;
    /* background-color: gray; */
    border-radius: 8%;
    margin-bottom: 25px;
}

.question-block p{
    
    margin-top: 10px;
    margin-bottom: 25px;
}

.question-block label{
    margin-right: 15px;
}

#button1{
    width: 150px;
    height: 40px;
    border-radius: 8px;
    border: none;
    background-color: rgb(38, 218, 250);
    color: white;
    cursor: pointer;
    margin-top: 25px;
    margin-left: auto;
    margin-right: 11%;
}

.result-container {
    text-align: center;
    margin-top: 50px;
}

.retry-button, .home-button {
    width: 150px;
    height: 40px;
    border-radius: 8px;
    border: none;
    color: white;
    cursor: pointer;
    margin: 10px;
}

.retry-button {
    background-color: rgb(38, 218, 250);
}

.home-button {
    background-color: rgb(250, 38, 38);
}

.retry-button:hover, .home-button:hover {
    opacity: 0.8;
}
